/* BASE CSS */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#406473;
    font-family: sans-serif;
}

#app {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:25px;
}
/**********/



/* HEADER CSS */
header {
    color:#CCD6D9;
    margin-bottom:25px;
}
/**********/



/* MAIN CSS */
main {
    background: #CCD6D9;
    max-width:90%;
    border-radius:0 15px 0 15px;
    padding:35px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

main section {
    display: flex;
    width:100%;
    flex-direction:column;
    gap:10px;
    margin-bottom:25px;
}

main p {
    font-weight:bold;
    font-style: italic;
    font-size:2rem;
    text-align:left;
}

main p::before {
    content: '"'
}

main p::after {
    content: '"'
}

main span {
    align-self:end;
    color: #406473;
}

main span::before {
    content: "- "
}

main button {
    background:#406473;
    color: white;
    padding:10px;
    border: 0;
    font-size:1.2rem;
    border-radius:0 5px 0 5px;
    font-weight:bold;
    margin-top:20px;
    cursor:pointer;
    transition: transform 0.2s;
}
main button:hover{
    transform: scale(1.05);
}
/**********/



/* FOOTER CSS */
footer {
    position:fixed;
    margin: 0 auto;
    bottom:0;
    text-align:center;
    color:#CCD6D9;
    padding-bottom:20px;
}

footer span{
    font-family: cursive;
}